@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100vh;
  overflow-y: auto;
}

.bg-image {
  background-image: url("https://cdn.hovia.com/app/uploads/70s-bold-multicolor-stripes-retro-wallpaper-mural-Plain-scaled.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@font-face {
  font-family: "SuperDream";
  src: url("./assets/fonts/SuperDream.ttf");
  font-weight: normal;
  font-style: normal;
}

.text-shadow-black {
  text-shadow: 1px 2px black;
}
.text-shadow-white {
  text-shadow: 1px 2px whitesmoke;
}
